.DS_Store

# Ignore environment variables
.env

# Do not commit database files
public/wp-content/database/.ht.sqlite

# Ignore log files
log/*
!log/.gitkeep

# Ignore vendor directories
local/vendor
build-dependancies/vendor
build-dependancies/wp-content

# Ignore uploads directory
public/wp-content/plugins/*
public/wp-content/themes/*
public/wp-content/uploads/*
!public/wp-content/plugins/.gitkeep
!public/wp-content/themes/.gitkeep
!public/wp-content/uploads/.gitkeep
