ENVIRONMENT=local
SITE_URL=localhost
WORDPRESS_DEBUG=1
WP_DISABLE_FATAL_ERROR_HANDLER=1
WP_DEBUG_LOG=1
WP_DEBUG_DISPLAY=0
WP_CACHE=0
WP_TABLE_PREFIX=wp_

# Generate your own salts at https://roots.io/salts.html
AUTH_KEY=""
SECURE_AUTH_KEY=""
LOGGED_IN_KEY=""
NONCE_KEY=""
AUTH_SALT=""
SECURE_AUTH_SALT=""
LOGGED_IN_SALT=""
NONCE_SALT=""
